body {
    align-items: center;
    background-color: rgb(214, 159, 87);
    margin: 0;
    

}
.card {
    text-align: center;
    background-color: rgb(241, 183, 224);
    margin: 30px;
    box-shadow:rgb(14, 12, 9);
    gap:10px;
   

}
.container {
    display: flex;
    align-items: center;
    gap: 10px;
}
.procedure{
    gap: 10px;
}
h2 {
    color: rgb(221, 78, 59);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.btn {
    border: none;
    border-radius: 5px;
    padding: 15px 20px;
    font-size: 30px;
    position: relative;
    background-color: rgb(247, 178, 178);
    border-style: inset;
    color:rgb(14, 13, 12);

}
.ribbon {
    width: 150px;
    font-size: 30px;
    padding: 5px;
    position: absolute;
    right: -20px;
    top: -20px;
    text-align: center;
    border-radius: 25px;
    transform: rotate(15deg);
    border-style: dotted;
    background-color: rgb(229, 231, 81);
    color: white;
}
footer {
    text-align: center;
    background: rgb(240, 145, 145);
    color:rgb(44, 11, 11);
    padding: 40px 40px;
    font-size: 20px;
    
}